//includes variables and mixins
$font-family-sans-serif: "Roboto", "Helvetica Neue", sans-serif;
$brand-primary: #0288d1;

@import "variables";
@import "mixins";

@import "reset";
//@import "bootstrap/scss/normalize";
//@import "bootstrap/scss/reboot";
//@import "bootstrap/scss/type";

#DatePickerModal {
  @media print {
    display: none !important;
  }

  button {
    outline: none !important;
  }
}

@import "picker";
@import "../main/style.scss";
@import "../choose-date/style.scss";