.choose-year {
  
  .header {
    display: block;
    border-style: none;
    border-width: 0;
    background-color: #0288d1;
    width: 100%;
    color: #eee;
    white-space: nowrap;
    text-align: center;
    font-size: $font-size-h2;
    line-height: 1em;
    padding: 0.5em 0 0.3em 0;
    min-width: 300px;
    max-width: 100%;
  }
  
  .picker {
    display: block;
    position: relative;
    max-height: 300px;
    overflow: auto;
    padding: 1em 0 1em 0;
    min-width: 280px;
    
    > button {
      transition: all 0.3s ease-in;
      font-size: $font-size-h4;
      display: block;
      margin: auto;
      border-style: none;
      border-width: 0;
      border-radius: 50% 50%;
      background-color: transparent;
      padding: 0.5em 0.3em 0.5em 0.3em;
      min-width: 180px;
      
      + button {
        margin-top: -0.4em;
      }
      
      &:last-child {
        margin-bottom: -0.4em;
      }

      &:hover {
        font-weight: bold;
        background-color: rgba(2, 136, 209, 0.4);
        cursor: pointer;
      }
    }
  }
  
}